@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

*{
    
    font-family: 'Lato', sans-serif;
    font-weight: 700;

}

body{

    background: #11998e;
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    background: linear-gradient(to right, #38ef7d, #11998e);

}

#btnInfoClient,footer{

    background: #bdc3c7; 
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7); 
    background: linear-gradient(to right, #2c3e50, #bdc3c7);


}